HLP.GeraXml.WebService/Web References/Susessu_Producao_Servico/serviconfd.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://susesu.com.br/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://susesu.com.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://susesu.com.br/">
      <s:element name="EnviarNota">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codPrefeitura" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="notaFiscal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cnpjPrestador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senhaNFD" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarNotaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnviarNotaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnviarNotaSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarNota" />
  </wsdl:message>
  <wsdl:message name="EnviarNotaSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarNotaResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicoNfdSoap">
    <wsdl:operation name="EnviarNota">
      <wsdl:input message="tns:EnviarNotaSoapIn" />
      <wsdl:output message="tns:EnviarNotaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicoNfdSoap" type="tns:ServicoNfdSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarNota">
      <soap:operation soapAction="http://susesu.com.br/EnviarNota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicoNfdSoap12" type="tns:ServicoNfdSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarNota">
      <soap12:operation soapAction="http://susesu.com.br/EnviarNota" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicoNfd">
    <wsdl:port name="ServicoNfdSoap" binding="tns:ServicoNfdSoap">
      <soap:address location="http://www.susesu.com.br/wsnfd/serviconfd.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicoNfdSoap12" binding="tns:ServicoNfdSoap12">
      <soap12:address location="http://www.susesu.com.br/wsnfd/serviconfd.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>