HLP.GeraXml.WebService/Web References/v2_Producao_NFeConsultaCadastro_GO/CadConsultaCadastro2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CadConsultaCadastro2" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro2" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro2" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeCabecMsg" type="tns:nfeCabecMsg" />
      <xs:element name="cadConsultaCadastro2Result">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeDadosMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="nfeCabecMsg">
        <xs:sequence>
          <xs:element minOccurs="0" name="cUF" type="xs:string" />
          <xs:element minOccurs="0" name="versaoDados" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="CadConsultaCadastro2Service_cadConsultaCadastro2">
    <part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
    <part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </message>
  <message name="CadConsultaCadastro2Service_cadConsultaCadastro2Response">
    <part name="cadConsultaCadastro2Result" element="tns:cadConsultaCadastro2Result" />
  </message>
  <portType name="CadConsultaCadastro2Service">
    <operation name="cadConsultaCadastro2" parameterOrder="nfeCabecMsg nfeDadosMsg">
      <input message="tns:CadConsultaCadastro2Service_cadConsultaCadastro2" />
      <output message="tns:CadConsultaCadastro2Service_cadConsultaCadastro2Response" />
    </operation>
  </portType>
  <binding name="CadConsultaCadastro2ServiceBinding" type="tns:CadConsultaCadastro2Service">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="cadConsultaCadastro2">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro2/cadConsultaCadastro2" />
      <input>
        <soap12:body use="literal" parts="nfeDadosMsg" />
        <soap12:header message="tns:CadConsultaCadastro2Service_cadConsultaCadastro2" part="nfeCabecMsg" use="literal" />
      </input>
      <output>
        <soap12:body use="literal" parts="cadConsultaCadastro2Result" />
      </output>
    </operation>
  </binding>
  <service name="CadConsultaCadastro2">
    <port name="CadConsultaCadastro2ServicePort" binding="tns:CadConsultaCadastro2ServiceBinding">
      <soap12:address location="https://nfe.sefaz.go.gov.br/nfe/services/v2/CadConsultaCadastro2" />
    </port>
  </service>
</definitions>